<html>
  <header>
    <h2 class=text-white>建サク.com</h2>
    <div class="header-navigation"></div>
      <%= link_to "新規登録", new_user_path, class: 'btn btn-default' %>
      <%= link_to "ログイン", login_path, class: 'btn btn-default' %>
      <%= link_to "投稿する", root_path, class: 'btn btn-default' %>
    </div>
  </header>
</html>
<body> 
  <div class= "main-visual">
    <div class="main-title">
      <h1 class="text-white">建サク.com</h1>
      <p1 class="text-sub">Everyone who works in the construction industry</p1>
      <p2 class="text-sub">Feel free to connect</p2>
    </div>
  </div>
</body>   

